{% extends 'base.html.twig' %}

{% block title %}Tournois de Foot{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <nav>
        <ul>
            <a href="{{ path('app_home') }}">← Home</a>
        </ul>
    </nav>

<div class="example-wrapper">

<h1>Liste des Matchs</h1>

    <nav>
        <ul>
            <a href="{{ path('app_matchs_create') }}">Ajouter un match</a>
        </ul>
    </nav>
    
    {% for match in matchs %}
        <ul>
            <li>Match : {{match.equipeDom}} - {{match.equipeExt}}</li>
            <li>Resultat : {{match.ScoreDom}} - {{match.ScoreExt}}</li>
            <form action="{{ path('app_matchs_update', {"matchs": match.id}) }}" method="post">
                <button type="submit">Modifier</button>
            </form>
            <form action="{{ path('app_matchs_id', {"matchs": match.id}) }}" method="post">
                <button type="submit">Afficher Détails</button>
            </form>
            <br>
        </ul>
    {% endfor %}



   


    



    
</div>
{% endblock %}
