{% extends 'base.html.twig' %}

{% block title %}Tournois de Foot{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <nav>
        <ul>
            <a href="{{ path('app_home') }}">← Home</a>
        </ul>
    </nav>


<div class="example-wrapper">

<h1>Classement</h1>
 {% set myVal = 0 %}

    {% for match in matchs %}

        <ul>
     
            {% if match.equipeDom == "Equipe2" %}
                {% if match.ScoreDom > match.ScoreExt %}
                    {% set myVal = myVal + 3 %}
                {% elseif match.ScoreDom == match.ScoreExt %}
                    {% set myVal = myVal + 1 %}
                {% else %}
                    {% set myVal = myVal + 0 %}

                {% endif %}
            {% endif %}
            {% if match.equipeExt == "Equipe2" %}
                {% if match.ScoreDom < match.ScoreExt %}
                    {% set myVal = myVal + 3 %}
                {% elseif match.ScoreDom == match.ScoreExt %}
                    {% set myVal = myVal + 1 %}
                {% else %}
                    {% set myVal = myVal + 0 %}
                {% endif %}
             
            {% endif %}

             

        </ul>
    {% endfor %}
    
    Equipe 2 : {{myVal}} Points



{% set myVal = 0 %}

    {% for match in matchs %}

        <ul>
     
            {% if match.equipeDom == "Equipe1" %}
                {% if match.ScoreDom > match.ScoreExt %}
                    {% set myVal = myVal + 3 %}
                {% elseif match.ScoreDom == match.ScoreExt %}
                    {% set myVal = myVal + 1 %}
                {% else %}
                    {% set myVal = myVal + 0 %}

                {% endif %}
            {% endif %}
            {% if match.equipeExt == "Equipe1" %}
                {% if match.ScoreDom < match.ScoreExt %}
                    {% set myVal = myVal + 3 %}
                {% elseif match.ScoreDom == match.ScoreExt %}
                    {% set myVal = myVal + 1 %}
                {% else %}
                    {% set myVal = myVal + 0 %}
                {% endif %}
             
            {% endif %}

             

        </ul>
    {% endfor %}
    
  Equipe 1 : {{myVal}} Points

    {% set myVal = 0 %}

    {% for match in matchs %}

        <ul>
     
            {% if match.equipeDom == "Equipe3" %}
                {% if match.ScoreDom > match.ScoreExt %}
                    {% set myVal = myVal + 3 %}
                {% elseif match.ScoreDom == match.ScoreExt %}
                    {% set myVal = myVal + 1 %}
                {% else %}
                    {% set myVal = myVal + 0 %}

                {% endif %}
            {% endif %}
            {% if match.equipeExt == "Equipe3" %}
                {% if match.ScoreDom < match.ScoreExt %}
                    {% set myVal = myVal + 3 %}
                {% elseif match.ScoreDom == match.ScoreExt %}
                    {% set myVal = myVal + 1 %}
                {% else %}
                    {% set myVal = myVal + 0 %}
                {% endif %}
             
            {% endif %}

             

        </ul>
    {% endfor %}
    
  Equipe 3 : {{myVal}} Points

    {% set myVal = 0 %}

    {% for match in matchs %}

        <ul>
     
            {% if match.equipeDom == "Equipe4" %}
                {% if match.ScoreDom > match.ScoreExt %}
                    {% set myVal = myVal + 3 %}
                {% elseif match.ScoreDom == match.ScoreExt %}
                    {% set myVal = myVal + 1 %}
                {% else %}
                    {% set myVal = myVal + 0 %}

                {% endif %}
            {% endif %}
            {% if match.equipeExt == "Equipe4" %}
                {% if match.ScoreDom < match.ScoreExt %}
                    {% set myVal = myVal + 3 %}
                {% elseif match.ScoreDom == match.ScoreExt %}
                    {% set myVal = myVal + 1 %}
                {% else %}
                    {% set myVal = myVal + 0 %}
                {% endif %}
             
            {% endif %}

             

        </ul>
    {% endfor %}
    
  Equipe 4 : {{myVal}} Points

</div>
{% endblock %}

